@font-face {
  font-family: 'DarlingCoffee';
  src: url('../src/fonts/Darling-Coffee.ttf') format('truetype'); /* Sesuaikan path dengan lokasi file .ttf Anda */
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Hazelnut';
  src: url('../src/fonts/Hazelnut-Milk-Tea-Bold.ttf') format('truetype'); /* Sesuaikan path dengan lokasi file .ttf Anda */
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'VanillaCake';
  src: url('../src/fonts/Vanilla-Cake.ttf') format('truetype'); /* Sesuaikan path dengan lokasi file .ttf Anda */
  font-weight: normal;
  font-style: normal;
}

::-webkit-scrollbar {
  width: 10px; /* Lebar scrollbar */
}

::-webkit-scrollbar-track {
  background: #290651; /* Warna track scrollbar */
}

::-webkit-scrollbar-thumb {
  background: #7C069F; /* Warna thumb scrollbar */
  border-radius: 3px; /* Membuat ujung thumb scrollbar melengkung */
}

::-webkit-scrollbar-thumb:hover {
  background: #7C069F; /* Warna thumb scrollbar saat di-hover */
}



body {
  background-image: url('./images/Background.png');
  background-size: cover; /* or contain, depending on your needs */
  background-repeat: no-repeat;
  background-attachment: fixed;
  max-width: 1920px;
  max-height: 1080px;
}


.App {
  font-family: Arial, sans-serif;
  text-align: center;
  margin: 0 auto;
  max-width: 1920px;
  max-height: 1080px;
  padding: 20px;
}


.App-main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  max-width: 1920px;
  max-height: 1080px;
  padding: 10px;
  margin-bottom: 6rem;
  margin-top: 6rem;
  height: auto;
}

.logo h1 {
  font-family: 'DarlingCoffee';
  cursor: pointer;
}

.nav-link {
  text-decoration: none;
  cursor: pointer;
  position: relative;
  display: inline-block;
  padding-bottom: 5px; /* atur jarak garis bawah dari teks */
  overflow: hidden; /* agar garis bawah animasi tidak muncul sebelumnya */
}

.nav-link::after {
  content: '';
  position: absolute;
  display: block;
  width: 0; /* mulai dengan lebar 0 */
  height: 2px; /* ketebalan garis bawah */
  background-color: #007bff; /* warna garis bawah */
  position: absolute;
  bottom: 0;
  left: 0;
  transition: width 0.3s ease; /* animasi transisi lebar */
}

.nav-link:hover::after {
  width: 100%; /* lebar menjadi 100% saat dihover */
}

/* Animasi sliding */
@keyframes slideIn {
  from {
      transform: scaleX(0); /* mulai dari skala 0 */
      transform-origin: left; /* titik asal transisi di kiri */
  }
  to {
      transform: scaleX(1); /* skala menjadi 1 */
      transform-origin: right; /* titik asal transisi di kanan */
  }
}

.nav-link:hover::after {
  animation: slideIn 0.3s forwards; /* jalankan animasi saat dihover */
}

.content {
  width: 80%;
  margin: 0 auto;
  text-align: left;
  margin-left: 30px;
  color: #fff;
  margin-top: 20px;
}

.content h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
  font-family: 'DarlingCoffee';
}

.content p {
  font-size: 1.5rem;
  margin-bottom: 2rem;
  flex-basis: 50%;
  font-family: 'VanillaCake';
}

.join-presale-button {
  background-color: transparent;
  color: #fff;
  border: 2px solid #fff;
  padding: 10px 20px;
  font-size: 30px;
  cursor: pointer;
  border-radius: 10px;
  margin-bottom: 20px;
  font-family: 'Hazelnut';
  transition: background-color 0.3s ease;
}

.join-presale-button::after {
  content: 'JOIN PRESALE';
  display: block;
  top: 50%;
  left: 50%;
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
}

.join-presale-button:hover::after {
  content: 'COMING SOON';
  opacity: 1;
}

.illustration {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

.illustration img {
  max-width: 100%;
  height: auto;
}

.chart-container {
  width: 100%;
  margin: 0 auto; /* Untuk memusatkan chart */
  justify-content: center;
  display: flex;
  align-items: center;
  height: 100vh; /* Full viewport height */
  padding: 10px; /* Optional padding */
  box-sizing: border-box;
}

.App-footer {
  background-color: #333;
  color: #fff;
  padding: 10px;
  text-align: center;
  clear: both;
}

.tokenomics {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; /* Ensure that elements are stacked vertically */
  text-align: center;

}

.tokenomics h1 {
  font-size: 60px;
  color: #fff;
  border-bottom: 3px solid #fff;
  display: inline-block;
  font-family: 'DarlingCoffee';
  margin-top: 14rem;

}

.tokenomics h2 {
  font-size: 50px;
  color: #fff;
  font-family: 'Hazelnut', bold;
  margin-top: 40px;
  margin-bottom: 20px;
}

.chart-container > div {
  max-width: 100%;
  max-height: 100%;
  width: 100%;
  height: auto;
}

.acc-container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 20px 0;

}

.a-container {
  width: 100%;
  max-width: 800px;
  color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  -khtml-user-select:none;
  -webkit-user-select:none
}
.a-container:hover {
  background-color: #fff;
  color: #000;
}

.q-container {
  display: flex;
  align-items: center;
  font-family: 'DarlingCoffee';
  text-align: center;
  justify-content: center;
}

.q-title {
  padding: 10px 20px;
  font-family: 'DarlingCoffee';
  align-items: center;
  justify-content: center;
}

.faq-title-container {
  text-align: center;
  margin-bottom: 20px;
  padding-top: 30px;
}

.faq-title {
  font-family: 'DarlingCoffee'; /* Menggunakan font DarlingCoffee */
  font-size: 60px;
  position: relative;
  display: inline-block;
  color: #fff;
  margin-bottom: 40px;
}

.faq-title::after {
  content: '';
  display: block;
  width: 50%;
  margin: 0 auto;
  padding-top: 10px;
  border-bottom: 3px solid #fff; /* Menggunakan warna hitam untuk garis bawah */
}

button {
  border-radius: 5px;
  border-style: solid;
  order: 2;
}

.a-content {
  padding-bottom: 10px;
  font-family: 'Hazelnut';
}

.footer {
  background-color: transparent;
  color: #fff;
  padding: 40px 0;
  text-align: center;
  margin-top: 60px;
  border-top: 3px solid #fff;
}

.footer-container {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;
  padding: 0 20px;
}

.footer-section {
  flex: 1;
  min-width: 200px;
  margin: 10px 0;
}

.footer-section h3 {
  margin-bottom: 10px;
  font-size: 25px;
  font-family: 'DarlingCoffee';
}

.footer-section p, .footer-section a {
  font-size: 16px;
  color: #ddd;
  text-decoration: none;
  font-family: 'Hazelnut';
}

.footer-section a:hover {
  color: #fff;
}

.footer-logo {
  max-width: 150px; /* Sesuaikan ukuran logo */
  margin-top: 10px;
}

.footer-bottom {
  margin-top: 20px;
  font-size: 14px;
  font-family: 'Hazelnut';
}

.back-to-top {
  position: fixed;
  bottom: 40px;
  right: 40px;
  z-index: 1000;
}

.back-to-top button {
  background-color: #7C069F;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
  opacity: 0.7;
  transition: opacity 0.3s ease-in-out;
}

.back-to-top button:hover {
  opacity: 1;
}

@media (max-width: 400px) {
  .container {
    width: 100%;
    height: 100%;
  }

  button {
    margin-right: 6px;
  }
}


/* Responsive styles */

@media (max-width: 768px) {
  .App-header .logo {
    width: 50px;
    height: 50px;
  }
  .App-nav ul {
    flex-direction: column;
  }
  .App-nav li {
    margin-right: 0;
  }
  .connect-button {
    padding: 5px 10px;
    font-size: 14px;
  }
  .App-main{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 10px;
    margin-bottom: 2rem;
    margin-top: 2rem;
    flex-direction: column;
  }

  .illustration {
    justify-content: center;
    margin-top: 20px;
    display: none;
  }

  .content {
    width: 70%;
  }
  .content h1 {
    font-size: 2rem;
  }
  .content p {
    font-size: 1.2rem;
  }
  .join-presale-button {
    padding: 5px 10px;
    font-size: 14px;
  }
  .illustration {
    width: 40%;
  }
  .tokenomics {
    height: 700px;
    padding-bottom: 30px;
  }
  .tokenomics h1 {
    font-size: 40px;
    padding-bottom: 10px;
  }
  .tokenomics h2{
    font-size: 25px;
  }
  .faq-title {
    font-size: 40px;
  }
  .q-title {
    font-size: 16px;
  }

  .a-content {
    font-size: 14px;
  }
  .footer-container {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .chart-container {
    margin: 0 auto;
  }

  .footer {
    margin-top: 2rem;
    text-align: center;
    display: contents;
    justify-content: center;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  .footer p {
    padding-bottom: 15px;
  }

  .footer-section {
    margin: 20px 0;
  }

  .join-presale-button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%; /* Ensure the container takes full width */
    padding: 10px; /* Optional padding for better spacing */
  }
  .join-presale-button {
    font-size: 25px; /* Increased font size */
  }

  .back-to-top {
    bottom: 20px;
    right: 20px;
}

.back-to-top button {
    padding: 8px 16px;
    font-size: 16px;
}
}


@media (max-width: 480px) {
  .App-header .logo {
    width: 30px;
    height: 30px;
  }
  .App-main{
    width: 100%;
    padding: 7px;
    margin-bottom: 1rem;
    margin-top: 1rem;
    text-align: center;
    justify-content: center;
    align-items: center;
  }
  .App-nav ul {
    flex-direction: column;
  }
  .App-nav li {
    margin-right: 0;
  }
  .connect-button {
    padding: 3px 5px;
    font-size: 12px;
  }
  .content {
    width: 80%;
  }
  .content h1 {
    font-size: 1.5rem
  }
  .content p {
    font-size: 1rem;
  }
  .join-presale-button {
    padding: 3px 5px;
    font-size: 12px;
  }
  .illustration {
    width: 35%;
  }
  .tokenomics h1 {
    padding-bottom: 10px;
  }
  .tokenomics {
    height: 700px;
  }
  .q-title {
    font-size: 14px;
  }
  .chart-container {
    margin: 0 auto;
    font-size: 17px;
  }

  .a-content {
    font-size: 12px;
  }
  .join-presale-button {
    display: flex;
    font-size: 20px;
  }
}

@media only screen and (max-width: 1024px) {
  .join-presale-button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%; /* Ensure the container takes full width */
    padding: 10px; /* Optional padding for better spacing */
  }

  .join-presale-button {
    font-size: 27px; /* Increased font size */
  }
}

